/****** Script for SelectTopNRows command from SSMS  ******/
CREATE TABLE [dbo].[Genre](
[GenreID] [int] NOT NULL,
[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED ([GenreID] ASC)
WITH (IGNORE_DUP_KEY = OFF,
ALLOW_ROW_LOCKS = ON,
ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
CONSTRAINT [GenreNameUnique] UNIQUE NONCLUSTERED ([Name] ASC)
WITH (IGNORE_DUP_KEY = OFF,
ALLOW_ROW_LOCKS = ON,
ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]);
