/****** Script for SelectTopNRows command from SSMS  ******/
CREATE TABLE [dbo].[MovieGenres](
[MovieID] [int] NOT NULL,
[GenreID] [int] NOT NULL,
CONSTRAINT [PK_MovieGenres] PRIMARY KEY CLUSTERED ([MovieID] ASC)
WITH (IGNORE_DUP_KEY = OFF,
ALLOW_ROW_LOCKS = ON,
ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
CONSTRAINT [IX_MovieGenres] UNIQUE NONCLUSTERED ([GenreID] ASC)
WITH (IGNORE_DUP_KEY = OFF,
ALLOW_ROW_LOCKS = ON,
ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]);